# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
node_modules/
dist/
dist-ssr/
.next/
.vercel/
.cache/
.turbo/
.output/
coverage/

# Local env
.env

# Editor/IDE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
