# Virtual Environment
/backend/vhara_venv/

# Environment Variables
/backend/.env

# Python
/backend/__pycache__/
/backend/*.py[cod]
/backend/*$py.class

# Django
/backend/*.log
/backend/local_settings.py
/backend/db.sqlite3

# Frontend
/frontend/node_modules/
/frontend/.env
/frontend/build/
/frontend/dist/
/frontend/dist-ssr/
/frontend/.next/
/frontend/.vercel/
/frontend/.DS_Store
/frontend/.cache/
/frontend/.turbo/
/frontend/.output/
/frontend/coverage/

# Backend
/backend/.pytest_cache/
/backend/.mypy_cache/
/backend/.pyre/
/backend/media/
/backend/staticfiles/
/backend/.DS_Store

# Global
.windsurfrules

# Node/Yarn root-level
/node_modules/
/package-lock.json
/yarn.lock

# Ignore IDE/editor settings
.vscode/
.cursor/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?