container_commands:
  01_touch_logfile:
    command: "touch /var/log/production.log"
    ignoreErrors: true
  02_chown_logfile:
    command: "chown webapp:webapp /var/log/production.log"
    ignoreErrors: true
  03_chmod_logfile:
    command: "chmod 664 /var/log/production.log"
    ignoreErrors: true