option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONBUFFERED: 1
  aws:elasticbeanstalk:container:python:
    WSGIPath: bhara.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/

# You can also add commands to run during deployment
commands:
  01_increase_timeout:
    command: "echo 'proxy_connect_timeout 300;' > /etc/nginx/conf.d/timeout.conf"
    ignoreErrors: true