files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_celery_worker.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /opt/python/current/env
      cd /var/app/current
      celery -A bhara worker -l info -B --detach
commands:
  01_run_celery:
    command: "sh /opt/elasticbeanstalk/hooks/appdeploy/post/run_celery_worker.sh"
